*{
    padding: 0px;
    margin: 0px;
    font-family: 'Noto-Sans', sans-serif;
    font-weight: normal;
    max-width: 100% !important;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

/* Header */
#header{
    position: fixed;
    margin: 0 auto;
    color: white;
    background-color: rgb(231, 157, 18);
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    width: 100%;
}

#tulisan-menu, #logo-hp{
    display: none;
}

#menu-hp{
    display: none;
    float: right;
    font-size: 14px;
    line-height: 35px;
    background-color: rgb(231, 157, 18);
}

#menu-hp a{
    display: block;
    border-bottom: black 1px solid;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    color: white;
}

#menu-hp a:last-child{
    border-bottom: none;
}

#menu-hp a:hover{
    background-color: rgb(228, 190, 121);
}

.konten{
    width: 1200px;
    margin: 0 auto;
}

#logo{
    width: 33.33%;
    float: left;
    margin-left: 10px;
}

.menu-kolom{
    float: right;
    width: auto;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

#menu a{
    display: block;
    color: white;
    text-align: center;
}

#menu a:hover{
    background-color: rgb(228, 190, 121);
}

.dummy{
    height: 70px;
}

/*----------Isi------------*/



/*----------Seminar------------*/
#seminar{
    padding: 0 20px;
}

#latar-belakang{
    text-align: justify;
    margin-top: 20px;
}

#waktu-tempat, #biaya, #pembayaran, #waktu-penting{
    text-align: center;
    margin-top: 20px;
}

.backgroundorange{
    background-color: rgb(231, 157, 18);
}

#latar-belakang h3, #waktu-tempat h3, #biaya h3, #pembayaran h3, #waktu-penting h3{
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

#waktu-tempat table{
    margin: 0 auto;
}

#biaya table{
    margin: 0 auto;
}

#pembayaran p, #waktu-tempat p, #biaya p{
    text-align: center;
}

#waktu-penting table{
    margin-left: 8.333%;
    margin-bottom: 10px;
    margin-right: 8.333%
}

.rata-kanan{
    text-align: right;
    padding-right: 20px;
}

.rata-kiri{
    text-align: left;
    padding-left: 20px;
}

.penting{
    margin-top: 10px;
    font-weight: bold;
}

/*----------Topik------------*/
#topik{
    margin-top: 20px;
    /* line-height: 30px; */
    padding: 0 20px;
}

#topik h2{
    text-align: center;
    color: white;
    background-color: rgb(231, 157, 18);
}

#topik>p{
    text-align: center;
}

/* #topik ol li{
    display: block;
    text-align: center;
} */

#menu-topik{
    display: block;
    margin-left: 37.5%;
}

/*----------Pendaftaran------------*/

#pendaftaran{
    margin-top: 20px;
    padding: 0 20px;
}

#pendaftaran h2{
    text-align: center;
    color: white;
    background-color: rgb(231, 157, 18);
}

#template{
    width: 50%;
    float: left;
}

#daftar{
    width: 50%;
    float: left;
}

#template a{
    display: block;
    height: 50px;
    width: 83.333%;
    background-color:  rgb(231, 157, 18);;
    margin: 20px auto;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    font-weight: normal;
}

#daftar a{
    display: block;
    height: 50px;
    width: 83.333%;
    background-color:  rgb(231, 157, 18);;
    margin: 20px auto;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
}

#template a:hover, #daftar a:hover{
    background-color: rgb(228, 190, 121);
}


/*----------Footer------------*/
#footer{
    background-color: rgb(231, 157, 18);
    text-align: center;
    padding: 10px 0;
    color: white;
}

#contact{
    margin-top: 20px;
}

.clear{
    clear: both;
}

.kolom-2{
    float: left;
    width: 48.33%;
    margin-right: 0.8333%;
    margin-left: 0.8333%;
}

.tengah{
    text-align: center;
    margin-bottom: 10px;
}

.kontak-hp{
    margin-top: 10px;
    line-height: 30px;
}

#alamat{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 40px;
}

#alamat p{
    line-height: 30px;
}

.judul{
    background-color: rgb(231, 157, 18);;
    color: white;
}

#isi-kontak{
    background-color: orange;
    color: white;
}

/* --------Responsive--------------- */

@media only screen and (max-width: 1024px){
  #header{
      font-size: 17px;
      line-height: 50px;
      height: 50px;
      /* overflow: hidden; */
  }
  .menu-kolom{
      height: 50px;
  }

  #waktu-penting table{
      margin-right: 10%;
      margin-left: 7%;
  }

  #menu{
    max-height: 0;
    overflow: hidden;
  }

#logo{
    max-height: 0;
    overflow: hidden;
}

#logo-hp{
    display: block;
    float: left;
    padding-left: 10px;
}

#tulisan-menu{
    display: block;
    float: right;
    padding-right: 10px;
    cursor: pointer;
}

.menu-open{
    display: block !important;
    overflow: visible !important;
}

.menu-kolom{
    clear: both;
    display: block;
    float: none;
    color: black !important;
}
}

@media only screen and (max-width: 480px){
    #template, #daftar{
        width: 90%;
        float: none;
        margin: 0 auto;
    }

    p, table{
        font-size: 12px;
        line-height: 18px;
    }

    h2{
        font-size: 16px;
    }

    h3{
        font-size: 14px;
    }

    #waktu-penting table{
        margin-left: 13px;
    }

    #menu-topik li{
        font-size: 12px;
        line-height: 18px;
    } 

    #menu-topik{
        margin-left: 20%;
    }

    .kolom-2{
        width: 90%;
        float: none;
        margin: 0 auto;
    }

    .judul{
        font-size: 18px;
        line-height: 20px;
    }

    .kontak-hp{
        line-height: 20px;
    }

    #alamat{
        line-height: 25px;
    }

    #alamat p{
        line-height: 20px;
    }

    

}